.activity-wrapper {
  .card-body .activity-title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
}
  .card-explanation {
    font-size: 20px;
    margin-bottom: 5px;

    
  }
  .no-activity {
    display: block;
    border: 2px solid $gunMetal;
    padding: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 480px;

    p {
      font-size: 22px;
      line-height: 26px;
    }
  }

    .icon-wrapper {
      font-size: 23px;
    }

  .randomized-activity {
    
  }