/*
  TODO: style active state on <li> instead of <a>
  TODO: style hover states of links that aren't buttons 
  or the first level of the primary navigation
*/
$hamburger-breakpoint-down: "(max-width: 992px)";
$hamburger-breakpoint-up: "(min-width: 993px)";




@media #{$hamburger-breakpoint-down} {
  body {
    $navigation-height: 67px;
    padding-top: $navigation-height;
  }
}

body {
  @include media-breakpoint-down(xs) {
    $navigation-height: 50px;
    padding-top: $navigation-height;
  }
}

@media #{$hamburger-breakpoint-up} {
  body {
    $navigation-height: 92px;
    padding-top: $navigation-height;
  }
}

.site-nav {
  background-color: $mintCream;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);

  a {
    font-weight: 500;
  }
}

@include media-breakpoint-down(xs) {
  .navbar-brand {
    font-size: 1.1rem;
  }
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
  padding: 8px 0 0;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}

.nav-items {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li a:not(.btn) {    
    color: $gunMetal;
    &:hover {
      text-decoration: none;
    }
  }
  > ul > li {    
    a {
      font-size: 16px;
    }
  }
}

.navigation-primary, .navigation-secondary {
  display: flex;
  justify-content: flex-end;
}

.navigation-primary li li a:not(.btn), .navigation-secondary li a:not(.btn):hover {
  transition: 0.1s;
  color: $primary;
  text-decoration: underline;
}



.navigation-secondary {
  margin-bottom: 8px;

  .nav-items {
    ul > li {
      margin-right: 11px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      font-size: 14px;
    }
    
    a:not(.btn) {
      height: 30px;
      line-height: 30px;
    }

    a.btn {
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 20px;
    }
  }
}

.branding {
  display: flex;
  align-items: center;

  > a:first-of-type {
    display: inline-block;
    color: $gunMetal;

    &:hover {
      text-decoration: none;

      &::before {
        content: none;
      }
    }
  }

  .logo {
    max-width: 60px;
    margin-right: 5px;
    padding: 4px;
    margin-left: -4px;
  }
  .logo, .name-slogan {
    display: inline-block;
    vertical-align: middle;
  }
  .name {
    display: block;
    font-size: 25px;
    line-height: 32px;
  }
  .slogan {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }
}

@include media-breakpoint-up(lg) {
  [nav-contents].collapse {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  .branding .name {
    font-size: 22px;
    line-height: 22px;
  }
  .branding .slogan {
    font-size: 13px;
  }
  .branding .logo {
    max-width: 50px;
  }  
}

.hamburger-wrapper {
  display: none;
}

@media #{$hamburger-breakpoint-down} {
  .navigation {
    padding-bottom: 8px;

    .container {
      max-width: 100%;
    }
  }
  a.btn {
    margin-left: 0;
  }
  .hamburger-wrapper {
    display: inline-flex;
    float: right;
    align-items: center;
    height: 100%;
    margin-left: auto;
  }
    .hamburger {

    }
  [nav-contents]:not(.show) {
    height: 0;
    overflow: hidden;
  }
  [nav-contents] {
    &.show, &.collapsing {
      padding-top: 5px;
    }
  }
  .navigation-mobile-flex-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .navigation-primary, .navigation-secondary {
    justify-content: flex-start;
  }
  .navigation-secondary {
    margin-bottom: 0;
  }
  .navigation-primary .nav-items, .navigation-secondary .nav-items {
    padding-top: 5px;
    ul {
      flex-direction: column;
    }
    ul li {
      display: block;
      margin-bottom: 10px;

      a {
        font-size: 16px;
        &:not(.btn):hover {
          transition: 0.1s;
          color: $primary;
          text-decoration: underline;
        }
      }
    }
  }
  .branding.row > [class*="col"] {
    max-width: 100%;
    flex: 0 0 100%;
  }

  // Hamburger stuff
  $hamburger-background-color: #fff;
  $hamburger-color: $primary;
  $hamburger-size: 40px;

  @mixin pill(){
    content:'';
    position:absolute;
    width: 100%;
    height: 12%;
    background: $hamburger-background-color;
    box-shadow:0 0 0 $hamburger-size/10 lighten($hamburger-background-color,35);
    border-radius: $hamburger-size;
    transition: all .5s cubic-bezier(.1, .9, 0, 1.2);
  }

  .hamburger-wrapper{
    
    display: block;
    position:relative;
    width: $hamburger-size;
    height: $hamburger-size;
  
    .bun{
      &:before{
        @include pill();
        top: 10%;
        right:0;
        background-color: $hamburger-color;

      }

      &:after{
        @include pill();
        bottom: 10%;
        left:0;
        background-color: $hamburger-color;

      }

      .burger{
        position: absolute;
        display: flex;
        align-items: center;
        height: $hamburger-size;
        width: $hamburger-size;
        // background-color: $hamburger-color;

        &:before, &:after{
          @include pill();
        background-color: $hamburger-color;

        }
      }
    }
    
    input{
      display:block;
      position: absolute;
      opacity: 0;
      z-index: 1;
      width:$hamburger-size;
      height:$hamburger-size;
      cursor:pointer;
      
      &:hover ~ .bun{
        &:before, &:after, :before, :after{
          background: $hamburger-color;
        }
      }
      
      &:checked ~ .bun{
        &:before, &:after{
          width:0;
        }

        .burger{
          &:before{
            transform:rotate(135deg);
          }
          &:after{
            transform:rotate(45deg);
            box-shadow:0 0 0 0 lighten($hamburger-background-color,35);
          }
        }
      }
    }
    
  }
}



@media #{$hamburger-breakpoint-up} {
  .navigation-primary .nav-items li a.btn {
    margin-left: 11px;
  }
  .branding {
    padding-bottom: 8px;
  }
  
  .navigation-primary .nav-items {
    $primaryItemHeight: 46px;
    $primaryItemLineHeight: 35px;
  
    ul > li > a:not(.btn) {
      position: relative;
      display: block;
      height: $primaryItemHeight;
      line-height: $primaryItemLineHeight;
      padding: 0 11px;
      
      &:not(.btn) {
        &.active, &:hover {
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: $primary;
          }
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  
  }
}

@include media-breakpoint-down(xs) {
  .branding .name {
    font-size: 18px;
    line-height: 22px;
  }
  .branding .slogan {
    font-size: 11px;
  }
  .branding .logo {
    max-width: 44px;
  }  
}