.site-nav {
  background-color: $mintCream;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);

  a {
    font-weight: 500;
  }
}

@include media-breakpoint-down(xs) {
  .navbar-brand {
    font-size: 1.1rem;
  }
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
}

.navigation {
  padding: 8px 0 0;
}

.nav-items {
  $bottomRowNavItemHeight: 38px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li a:not(.btn) {    
    color: $gunMetal;
    &:hover {
      text-decoration: none;
    }
  }
  > ul > li {
    display: inline-block;
    margin-right: -5px; // counters whitespace caused by inline-block
    vertical-align: top;
    
    a {
      font-size: 16px;
    }

    > a {
      position: relative;
      display: block;
      height: $bottomRowNavItemHeight;
      line-height: $bottomRowNavItemHeight;
      vertical-align: middle;
      padding: 0 11px;
      
      &:not(.btn) {
        &.active, &:hover {
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: $primary;
          }
        }
      }
    }

  }
}

.navigation-top-row, .navigation-bottom-row {
  display: flex;
  justify-content: flex-end;
}

.navigation-top-row {
  
  .nav-items {
    ul > li {
      margin-right: 11px;
    }
    
    a {
      font-size: 14px;
      height: 30px;
      line-height: 30px;
    }

    ul li:last-of-type a {

    }
  }

}

.branding {
  .logo {
    max-width: 60px;
    // margin-right: 5px;
    padding: 4px;
  }
  .logo, .name-slogan {
    display: inline-block;
    vertical-align: middle;
  }
  .name {
    display: block;
    font-size: 25px;
    line-height: 32px;
  }
  .slogan {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }
}

@include media-breakpoint-down(lg) {
  .branding .name {
    font-size: 22px;
  }
  .branding .slogan {
    font-size: 13px;
  }
  .branding .logo {
    max-width: 50px;
  }
}