// Activities Modal
#viewCurrentActivities.modal.fade(tabindex="-1", role="dialog", aria-labelledby="viewCurrentActivities", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Your filtered activities
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        div(sheet-content="")
      .modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") Close
