<!-- Cookie modal -->
<div class="cookie-modal-wrapper">
  <div class="cookie-modal-container">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="cookie-modal">
            <div class="cookie-modal-content">
              <span class="h5">Activity Randomizer uses cookies.</span>
              <p>Some cookies are necessary, while other cookies are not but they will improve your experience.</p>
              <span class="h6">Necessary Cookies</span>
              <p>Necessary cookies are required for the site to work properly or cookies required to provide online services you as a user request.</p>
              <span class="h6">Anonymous analytical Cookies</span>                
              <p>These cookies allow us to measure the usage of the website.</p>
              <span class="h6">Preference Cookies</span>                
              <p>Preference cookies will allow us to improve your experience on the website:</p>
              <ul>
                <li>You can save the Google Sheets link</li>
                <li>You can save your preferred sheet</li>
              </ul>
              <div class="custom-control custom-checkbox mb-2">
                <input data-cookie-preferences-checkbox type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Allow preference cookies</label>
              </div>
              <div class="mb-2">
                <button data-cookies-submit class="btn btn-primary">Change cookie settings</button>
                <button data-cookie-modal-close type="button" class="btn-light btn" aria-label="Close">
                  Decide later
                  <span class="close">
                    <span aria-hidden="true">&times;</span>
                  </span>
                </button>
              </div>
              <p>You can read the Privacy & Cookie Policy <a href="/privacy-policy">here</a> to learn more.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->