{{#> layouts/test-layout }}
<div>HELLOOOOO</div>

{{#*inline "body-block" }}
  <a href="https://handlebarsjs.com/partials.html"></a>
  <h1>Hello from test.hbs!</h1>
{{/inline}}
{{/layouts/test-layout}}
