$rangeBarColor: $deepGreenCyanTurquoise;
$rangeThumbColor: #FFF;
$thumbHeight: 20px;
$thumbWidth: 16px;
$trackHeight: 6px;

.range-container {
  padding: 10px 0px 20px;
  margin-bottom: 10px;
  // display: inline-block;
}
/* Range reset */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 75%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  padding-bottom: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* Range Thumb*/
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: 3px;
  background: $rangeThumbColor;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: 3px;
  background: $rangeThumbColor;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: 3px;
  background: $rangeThumbColor;
  cursor: pointer;
}
/* Range Track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $rangeBarColor;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: lighten($rangeBarColor, 10%);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $rangeBarColor;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: $rangeBarColor;
}
input[type=range]::-ms-fill-upper {
  background: $rangeBarColor;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* Disabled range */
$disabled-range-color: #ececec;
$disabled-range-pointer: not-allowed;
/* Range Thumb*/
/* Special styling for WebKit/Blink */
input[type=range][disabled]::-webkit-slider-thumb {
  border: 1px solid #000000;  
  background: $disabled-range-color;
  cursor: $disabled-range-pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range][disabled]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  background: $disabled-range-color;
  cursor: $disabled-range-pointer;
}

/* All the same stuff for IE */
input[type=range][disabled]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  background: $disabled-range-color;
  cursor: $disabled-range-pointer;
}
/* Range Track */
input[type=range][disabled]::-webkit-slider-runnable-track {
  cursor: $disabled-range-pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $disabled-range-color;
  border: 0.2px solid #010101;
}

input[type=range][disabled]:focus::-webkit-slider-runnable-track {
  background: $disabled-range-color;
}

input[type=range][disabled]::-moz-range-track {
  cursor: $disabled-range-pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $disabled-range-color;
  border: 0.2px solid #010101;
}

input[type=range][disabled]::-ms-track {
  cursor: $disabled-range-pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range][disabled]::-ms-fill-lower {
  background: $disabled-range-color;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range][disabled]:focus::-ms-fill-lower {
  background: $disabled-range-color;
}
input[type=range][disabled]::-ms-fill-upper {
  background: $disabled-range-color;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range][disabled]:focus::-ms-fill-upper {
  background: $disabled-range-color;
}

/* Disabled warning */
input[type=range][disabled] + span {
  position: relative; 
}
input[type=range][disabled] + span::after {
  color: #222222;
  content: 'Pick a sheet with activities to use this filter.';
  display: block;
  padding-top: 12px;
  font-style: italic;
}