<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <span class="text-muted">© Eddy Vinck 2018-2019</span>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
          <ul class="list-unstyled text-small">
            <li><a href="/">Home</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/example-sheet">Example sheet</a></li>
            <li><a href="/sheet-import-tutorial">Google Sheet Import Tutorial</a></li>
          </ul>
        </div>
      <div class="col-12 col-md-4 col-lg-3">
        <ul class="list-unstyled text-small">
          <li><a href="/privacy-policy">Privacy & Cookie policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>