$icon-shuffle: '\e800'; /* '' */
$icon-ok: '\e801'; /* '' */
$icon-heart: '\e802'; /* '' */
$icon-heart-empty: '\e803'; /* '' */
$icon-right-bold: '\e804'; /* '' */
$icon-right: '\e805'; /* '' */
$icon-link: '\e806'; /* '' */
$icon-th: '\e807'; /* '' */
$icon-mail: '\e808'; /* '' */
$icon-cog: '\e809'; /* '' */
$icon-help-circled: '\e80a'; /* '' */
$icon-megaphone: '\e80b'; /* '' */
$icon-down-open: '\e80c'; /* '' */
$icon-up-open: '\e80d'; /* '' */
$icon-help: '\e80f'; /* '' */
$icon-link-ext: '\f08e'; /* '' */
$icon-github-circled: '\f09b'; /* '' */
$icon-list-bullet: '\f0ca'; /* '' */
$icon-smile: '\f118'; /* '' */
$icon-doc-inv: '\f15b'; /* '' */
$icon-thumbs-up-alt: '\f164'; /* '' */
$icon-thumbs-down-alt: '\f165'; /* '' */
$icon-map: '\f279'; /* '' */
$icon-twitter-circled: '\f30a'; /* '' */
$icon-facebook-circled: '\f30d'; /* '' */
$icon-pinterest-circled: '\f313'; /* '' */
$icon-linkedin-circled: '\f319'; /* '' */
$icon-instagram: '\f32d'; /* '' */