/* Coolors Exported Palette - coolors.co/aeffd8-8affc1-616163-ffc09f-49c6e5 */


$dodgerBlue: #2191FB;
$blueYonder: #547AA5;

$graniteGray: rgba(97, 97, 99, 1);
$gunMetal: #293132;

/* Coolors Exported Palette - coolors.co/022f40-1c9075-00ff87-f7fff7-49c6e5 */
$richBlack: rgba(2, 47, 64, 1);
$deepGreenCyanTurquoise: rgba(26, 131, 107, 1);
$springGreen: rgba(0, 255, 135, 1);
$mintCream: rgba(247, 255, 247, 1);
$seaSerpent: rgba(73, 198, 229, 1);
$majorelleBlue: #623CEA;


$primary:       $deepGreenCyanTurquoise;
$secondary:     $graniteGray;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
$dark:          $gunMetal; // what does this affect?