include ../mixins/mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title meta-title
    meta(description="Plan activities picked from your own Google Sheet.")

    if htmlWebpackPlugin
      each css in htmlWebpackPlugin.files.css
        link(href=css, rel='stylesheet')
    else
      +css('common.css')
    include ../partials/scripts/tagmanagerscript
    include ../partials/favicon
  body
    include ../partials/scripts/tagmanageriframe
    include ../partials/modals/cookie-modal
    include ../partials/modals/settings-modal
    
    block before-nav
      //- Content such as page specific modals comes here
    include ../partials/navbar
    main
      //- debugging htmlWebpackPlugin:
      //- pre=JSON.stringify(htmlWebpackPlugin, null, 2)
      block content
        h1
          | If you can see this text then you forgot the body-block partial-block in your template. 
          br
          | See 
          a(href="http://handlebarsjs.com/partials.html") http://handlebarsjs.com/partials.html
          |  for more info.
    include ../partials/footer
    if htmlWebpackPlugin
      each js in htmlWebpackPlugin.files.js
        script(type='text/javascript', src=js)
    else
      +js('common.js')
    block after-scripts
      // scripts that come after the common entry script come here --
