<nav class="navbar navbar-expand-md navbar-light site-nav sticky-top py-1">
  <a class=" navbar-brand " href="/">
    Activity Randomizer v0.1
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-flow navbar-nav flex-flow navbar-nav mb-2 mb-md-0">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
      <li class="nav-item"><a href="/example-sheet" class="nav-link">Example Sheet</a></li>
      <li class="nav-item"><a href="/pricing" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a data-toggle="modal" data-target="#viewSettings" href="/" class="nav-link">Settings</a></li>
    </ul>
    <ul class="navbar-nav ml-md-auto d-md-flex align-items-md-center">
      <li class="nav-item mb-2 mb-md-0"><a href="/pricing" class="btn btn-info">Get updates</a></li>
      <li class="nav-item ml-md-2">
        <button class="btn btn-primary" id="authorize-button" style="display: none;">Authorize</button>
        <button class="btn btn-outline-secondary  " id="signout-button" style="display: none;">Sign Out</button>
      </li>
      <li class="nav-item"></li>
    </ul>
  </div>
</nav>  