<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Activity Randomizer — Google Sheets integration</title>
  <meta description="Plan activities picked from your own Google Sheet.">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.common.css %>">
  {{> ./scripts/tagmanagerscript }}
</head>

<body> 
  {{> ./scripts/tagmanageriframe }}  
  {{> ./partials/modals/cookie-modal }}  
  {{> ./partials/modals/settings-modal }}
  {{> ./partials/modals/activities-modal }}

  {{> ./partials/navbar }}

  <main>
    <div class="container">
      <div class="spaceholder-top mb-2">
        
      </div>
      <div class="mb-2">
        <div class="row justify-content-start">
          <div class="col-12 col-sm-10 col-md-6 col-lg-7">
            <h1>Activity Randomizer</h1>
            <p class="h2">Insert a Google Sheet link to get started!</p>
  
            <div class="mb-4">            
              <div>
                <div class="step">
                  <h3>Step 1/4: add a document link <i class="icon-link"></i></h3>
                </div>
                <div class="">
                  <div class="form-row mb-3">
                    <div class="col-12 col-md-7 mb-2 mb-md-0">
                      <input class="form-control" type="text" placeholder="docs.google.com/spreadsheets/. . ." id="sheet-input" name="sheet-input">
                    </div>
                    <div class="col-12 col-md-5  mb-2 mb-md-0">
                      <button id="sheet-submit" class="btn btn-primary" type="button">Load Sheets link</button>
                    </div>
                  </div>
                  <!-- <label class="d-block d-sm-inline-block" for="sheet-input">Sheet:</label> -->
                  <div class="input-container checkbox-container" data-preference-cookie>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name="" id="remember-sheets-link">
                      <label for="remember-sheets-link" class="custom-control-label">
                        <span>Remember Sheets link (settings)</span>
                      </label>
                    </div>
                  </div>
                  <div data-toggle="collapse" data-target="#helpCard"  aria-expanded="false"   aria-controls="helpCard" class="help-text">
                    <p><button class="btn btn-dark btn-circle"><i class="icon-help"></i></button> <span>Need help? click here!</span></p>
                  </div>
                  <div class="row">
                    <div class="col-lg-10">
                      <div id="helpCard" class="collapse help-card">
                        <div class="card-content">
                          <ol>
                            <li>Do you have a Google or Gmail account? You can create an account <a href="https://accounts.google.com/signup">here</a>.</li>
                            <li>Authorize your account for Activity Randomizer by clicking <a href="">here</a>.</li>
                            <li>Go to <a href="">this example sheet template</a> and follow the 'Getting Started' steps.</li>
                            <li>Copy the link of your document into the input field at step 1 above and click 'Load Sheets link.'</li>
                            <li>Continue at step 2/4.</li>
                          </ol>
                          <p>Want a more detailed tutorial with pictures?</p>
                          <a class="btn btn-info btn-sm" href="/sheet-import-tutorial">Detailed tutorial</a>
                          <button data-toggle="collapse" data-target="#helpCard" class="btn btn-primary btn-circle btn-circle-large btn-floating"><i class="icon-up-open"></i></button>
                        </div>                      
                      </div>              
                    </div>
                    </div>
                  </div>
                <!-- The dropdown with the sheets in the document -->
                <div class="step">
                  <h3>Step 2/4: pick a sheet</h3>
                </div>              
                <div class="input-container">
                  <div class="form-row">
                    <div class="col-12 col-md-8">
                      <select class="custom-select mb-3" disabled name="" id="sheet-names">
                        <option value="">Loading sheet names...</option>
                      </select>
                    </div>
                    <div class="col-12" data-preference-cookie>
                      <div class="input-container checkbox-container">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" name="remember-sheet-name" id="remember-sheet-name">
                          <label for="remember-sheet-name" class="custom-control-label">
                            <span>Remember sheet (settings)</span>
                          </label>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="step">
                  <h3>Step 3/4: filter (optional)</h3>
                </div>
                <div class="input-container range-container">
                  <label class="d-block">
                    Maximum time: <span time-range-value></span> (minutes) 
                  </label>
                  <span class="min">0</span>
                  <input time-range disabled type="range" min="0" max step="5">
                  <span class="max">240</span>             
                </div>
                <div class="input-container">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-light mr-2 mb-2" data-toggle="modal" data-target="#viewCurrentActivities">
                    <i class="icon-list-bullet"></i>View your filtered list
                  </button>
                  <button id="remove-filters" class="btn btn-secondary mb-2">
                    Reset filters
                  </button>
                </div>
                <div class="step">
                  <h3>Step 4: Generate random activity</h3>
                </div>
                <div class="input-container mt-3">
                  <button class="btn btn-primary" id="pick-activity">Randomize activity<i class="icon-shuffle"></i></button>
                </div>
              </div>            
            </div>                     
          </div>        
          <div class="col-12 col-sm-10 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
            <div class="activity-wrapper mb-4">
              <div class="no-activity mt-3">
                <p>
                  Your randomized activity will be here when you link to a 
                  Google Sheets document, pick a sheet and click 
                  <span class="block">'Randomize activity'</span>
                  <div class="icon-wrapper text-richblack">
                    <i class="icon-doc-inv text-deepgreen"></i>
                    <i class="icon-right-bold"></i>
                    <i class="icon-shuffle text-deepgreen"></i>
                    <i class="icon-right-bold"></i>
                    <i class="icon-smile text-deepgreen"></i>
                  </div>
              </div>
              <div class="randomized-activity" style="display: none;">
  
                <div class="mt-3 mb-2">
                  <h2 class="card-explanation">Your randomized activity:</h2>
                  <div class="card" id="picked-activity">
                    <div class="card-img-top">
                      <!-- https://developers.google.com/custom-search/ -->
                      <!-- <img src="https://picsum.photos/200/100" width="100%" alt=""> -->
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2 class="activity-title">Picked activity name</h2>
                      </div>
                      <div class="card-text">
      
                        <!-- TODO -->
                        <!-- <a href="#" disabled class="btn btn-primary btn-block disabled">Add to Google Calendar</a> -->
                      </div>
                    </div>
                  </div>
                </div> 
  
              </div>
            </div>
  
          </div>        
        </div>
      </div>
  
    </div>
  </main>

  {{> ./partials/footer }}
  
  <script src="{{ htmlWebpackPlugin.files.chunks.common.entry }}"></script>
  <script src="{{ htmlWebpackPlugin.files.chunks.activityrandomizer.entry }}"></script>
  <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
</body>

</html>